<p id="notice"><%= notice %></p>

<p>
  <strong>Lon:</strong>
  <%= @map.lon %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @map.lat %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @map.datetime %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @map.comment %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
